.iphone{
    background-color: white;
    width: 24%;
    border-style:solid;
    border-width: 1px;
    border-color: grey;
    float: left;
    margin-right:1px;
    margin-left: 4px;
    margin-bottom: 4px;
}
img{
  padding-left: 70px;
  padding-bottom: 0;
  height: 100px;
}
h2{
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 2px;
}

p{
    color: gray;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 2px;
}
number{
    margin-left: 5px;
    color: green;
    font-size: 12px;
    font-weight: bold;
}
.num {
    text-decoration-line: line-through;
    font-size: 10px;
    color: red;
} 
div .btn {
    margin-left: 5px;
}
.add{
    background-color: blue;
    color: white;
    padding: 10px 25px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 70%;
    border-color: blue;
    
}
.fa-bag-shopping{
    background-color: blue;
    color: white;
}
.fa-heart{
    color: blue;
    font-size: 12.5px;
}
.heart{
    background-color: white;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 20%;
    color: blue;
    border-color: blue;
}